{% extends "broker_app\base.html" %}

{% block content %}

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#requirements">Requirements</a></li>
    <li class="active"><a data-toggle="tab" href="#surveys">Surveys</a></li>
    <li><a data-toggle="tab" href="#tourbooks">Tour books</a></li>
    <li><a data-toggle="tab" href="#executivesummaries">Executive summaries</a></li>
</ul>

<div class="tab-content">

    <div id="requirements" class="tab-pane fade container-fluid">
        <h3>Requirements</h3>
        <ul class="list-group">
            <li class="list-group-item">Requirements 1</li>
            <li class="list-group-item">Requirements 2</li>
            <li class="list-group-item">Requirements 3</li>
        </ul>
    </div>
    <div id="surveys" class="tab-pane fade in active container-fluid">
        <h3>Surveys</h3>
        <ul class="list-group">
            {% for survey in surveys %}
            <li class="list-group-item row">
                <a href="{% url 'survey-update' survey.id%}">{{ survey.building_name}}</a>
                <a href="{% url 'survey-delete' survey.id%}" class="btn btn-danger btn-sm pull-right" role="button">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'survey-add'%}" role="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div>
    <div id="tourbooks" class="tab-pane fade container-fluid">
        <h3>Tour books</h3>
        <ul class="list-group">
            <li class="list-group-item">Tour book 1</li>
            <li class="list-group-item">Tour book 2</li>
            <li class="list-group-item">Tour book 3</li>
        </ul>
    </div>
    <div id="executivesummaries" class="tab-pane fade container-fluid">
        <h3>Executive summaries</h3>

        <ul class="list-group">
            <li class="list-group-item">Executive summary 1</li>
            <li class="list-group-item">Executive summary 2</li>
            <li class="list-group-item">Executive summary 3</li>
        </ul>
    </div>
</div>

{% endblock %}