{% extends "broker_app/base.html" %}

{% block content %}

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#buildings">Buildings</a></li>
    <li><a data-toggle="tab" href="#requirements">Requirements</a></li>
    <li class="active"><a data-toggle="tab" href="#landlord_response">Landlord responses</a></li>
    <li><a data-toggle="tab" href="#tourbooks">Tour books</a></li>
</ul>

<div class="tab-content">
    <div id="buildings" class="tab-pane fade container-fluid">
        <h3>Buildings</h3>
        <ul class="list-group">
            {% for building in buildings%}
            <li class="list-group-item row">
                <a href="{% url 'building-update' building.id%}">{{ building }}</a>
                <span class="pull-right">
                    <a href="{% url 'building-delete' building.id%}" class="btn btn-danger btn-sm"
                       role="button">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </span>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'building-add'%}" role="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div>
    <div id="requirements" class="tab-pane fade container-fluid">
        <h3>Requirements</h3>
        <ul class="list-group">
            {% for requirement in requirements%}
            <li class="list-group-item row">
                <a href="{% url 'requirement-update' requirement.id%}">{{ requirement }}</a>
                <span class="pull-right">
                    <a href="{% url 'email_requirement' requirement.id%}" class="btn btn-info btn-sm"
                       role="button">Email requirement
                    </a>
                    <a href="{% url 'requirement-delete' requirement.id%}" class="btn btn-danger btn-sm"
                       role="button">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </span>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'requirement-add'%}" role="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div>


    <div id="landlord_response" class="tab-pane fade in active container-fluid">
        <h3>Landlord Responses</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Requirement</th>
                <th>Building name</th>
                <th>Response from</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for landlordresponse in landlord_responses %}
            <tr>
                <td>{{ landlordresponse.requirement}}</td>
                <td><a href="{% url 'landlordresponse-update' landlordresponse.id%}">{{landlordresponse.building.building_name}}</a></td>
                <td>{{ landlordresponse.created_by}}</td>
                <td>
                    <a href="{% url 'media-upload' landlordresponse.id%}" class="btn btn-sm btn-info" role="button">
                        Add media
                    </a>
                    <a href="{% url 'landlordresponse-delete' landlordresponse.id%}" class="btn btn-danger btn-sm"
                       role="button">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'landlordresponse-add'%}" role="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div>
    <div id="tourbooks" class="tab-pane fade container-fluid">
        <h3>Tour books</h3>
        <ul class="list-group">
            {% for tour_book in tour_books %}
            <li class="list-group-item row">
                <a href="{% url 'tourbook-update' tour_book.id%}">{{ tour_book}}</a>
                <span class="pull-right">
                    <a href="{% url 'tourbook-ppt' tour_book.id%}" class="btn btn-sm btn-info" role="button">
                        Generate PPT
                    </a>
                    <a href="{% url 'tourbook-delete' tour_book.id%}" class="btn btn-danger btn-sm" role="button">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </span>

            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'tourbook-add'%}" role="button" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div>
</div>

{% endblock %}