{% extends "broker_app/base.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="hidden" name="success_url" value="{% url 'media-upload' survey_pk %}"/>
    <button type="submit" class="btn btn-info">Upload</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Survey</th>
        <th>Type</th>
        <th>Uploaded at</th>
        <th>Size</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for media_file in media_files%}
    <tr>
        <td><a href="{{ media_file.upload.url }}" target="_blank">{{ media_file.upload.name }}</a></td>
        <td>{{ media_file.survey }}</td>
        <td>{{ media_file.upload_type }}</td>
        <td>{{ media_file.uploaded_at }}</td>
        <td>{{ media_file.upload.size|filesizeformat }}</td>
        <td><a href="{% url 'media-delete' media_file.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No data.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}