{% extends "broker_app/base.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Uploaded at</th>
        <th>Size</th>
    </tr>
    </thead>
    <tbody>
    {% for media_file in media_files%}
    <tr>
        <td><a href="{{ media_files.upload.url }}" target="_blank">{{ media_file.upload.name }}</a></td>
        <td>{{ media_file.uploaded_at }}</td>
        <td>{{ media_file.upload.size|filesizeformat }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No data.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}